@import "../common/variables";

.select {
  font-family: $mainfont;
  appearance: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 32px;
  border: 1px solid $disabledcolor;
  border-radius: 3px;
  padding: 0;
  padding-left: 11px;
  padding-right: 11px;
  cursor: pointer;
  font-size: 14px;
  line-height: 32px;
  line-height: -moz-block-height;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  background-image: url(/assets/images/icons/icons_file_002_dropdownclosed_downwards.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 11px;
}

.select:hover {
  border-color: $gray-460;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 0 2px $focuscolor;
  background-image: url(/assets/images/icons/icons_file_002_dropdownopen.svg);
}

.select:active {
  background-image: url(/assets/images/icons/icons_file_002_dropdownopen.svg);
}

.select option {
  font-family: $mainfont;
  background-color: #fff;
  border: 1px solid $gray-300;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 11px;
}
