@import "../common/variables";

.pagination {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.pagination,
.pagination > ul {
  list-style-type: none;
}

.pagination__item {
  margin: 0;
  float: left;
  display: block;
  line-height: 2rem;
  font-size: 0.875rem;
  min-width: 1.625rem;
  text-align: center;
}

.pagination__link {
  display: inherit;
  color: $gray620;
}

.pagination__link:hover {
  color: $gray700;
  text-decoration: none;
}

.pagination__current {
  font-weight: bold;
}

.pagination__dots {
  color: $gray300;
}

.arrow {
  display: block;
  overflow: hidden;
  text-indent: -1000%;
  background-image: url(/assets/images/icons/icons_file_002_dropdownclosed.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: center center;
  width: 1.5rem;
  height: 2rem;
}

.arrow--reversed {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.arrow--disabled {
  pointer-events: none !important;
  background-image: url(/assets/images/icons/icons_file_002_dropdownclosed_grey.svg);
  cursor: default;
}
