@import "../common/variables";

.tile {
  font-family: $mainfont;
  appearance: none;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  line-height: -moz-block-height;
  border: 1px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  appearance: none;
  width: 100%;
  padding: 0;
  background: initial;
  text-align: initial;
  text-decoration: none;
  display: block;
}

.tile:hover {
  text-decoration: none;
}

// REVIEW: Groundhog uses box-sizing: border-box project-wide

.tile * {
  /* use border-box for whole button widget to be independent from global box-sizing applied with * selector */
  box-sizing: border-box;
}

/*
* tile header
*/

.tile__header {
  background-color: $gray-100;
  height: 52px;
  border: 1px solid $gray-160;
  border-radius: 3;
  border-bottom: none;
  width: 100%;
}

.tile__iconbox {
  width: 52px;
  height: 52px;
  top: 0;
  left: 0;
  position: absolute;
}

.tile_blue .tile__iconbox {
  border: 1px solid $blue-500;
  border-radius: 3;
  border-bottom: none;
}

.tile__royalblue .tile__iconbox {
  border: 1px solid $royalblue-500;
  border-radius: 3;
  border-bottom: none;
}

.tile__purple .tile__iconbox {
  border: 1px solid $purple-600;
  border-radius: 3;
  border-bottom: none;
}

.tile__error .tile__iconbox {
  border: 1px solid $red-500;
  border-radius: 3;
  border-bottom: none;
}

.tile__gray .tile__iconbox {
  border: 1px solid $gray-700;
  border-radius: 3;
  border-bottom: none;
}

.tile .icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-top: 10px;
}

.tile__heading {
  font-size: 16px;
  font-weight: 500;
  color: $gray-700;
  margin-left: 63px;
  padding-top: 17px;
  line-height: 0;
}

.tile__subheading {
  font-size: 12px;
  font-weight: 500;
  color: $gray-500;
  position: relative;
  margin-left: 63px;
  margin-top: -3px;
  line-height: 0;
}


.tile__content {
  font-size: 14px;
  color: $gray-700;
  margin: 0;
  padding: 11px;
  border: 1px solid $gray-160;
  border-radius: 3;
  border-top: none;
}


/*
* tile border styling
*/

.tile__blue .tile__iconbox {
  background-color: $blue-500;
}

.tile__royalblue .tile__iconbox {
  background-color: $royalblue-500;
}

.tile__purple .tile__iconbox {
  background-color: $purple-600;
}

.tile__error .tile__iconbox {
  background-color: $red-500;
}

.tile__gray .tile__iconbox {
  background-color: $gray-700;
}


/*
* tile hover states
*/

.tile__blue:hover {
  border-color: $blue-500;
}

.tile__blue:hover .tile__header {
  border-color: $blue-500;
}

.tile__blue:hover .tile__iconbox {
  border-color: $blue-500;
}

.tile__blue:hover .tile__content {
  border-color: $blue-500;
}

//royalblue
.tile__royalblue:hover {
  border-color: $royalblue-500;
}

.tile__royalblue:hover .tile__header {
  border-color: $royalblue-500;
}

.tile__royalblue:hover .tile__iconbox {
  border-color: $royalblue-500;
}

.tile__royalblue:hover .tile__content {
  border-color: $royalblue-500;
}

//purple
.tile__purple:hover {
  border-color: $purple-600;
}

.tile__purple:hover .tile__header {
  border-color: $purple-600;
}

.tile__purple:hover .tile__iconbox {
  border-color: $purple-600;
}

.tile__purple:hover .tile__content {
  border-color: $purple-600;
}

//error
.tile__error:hover {
  border-color: $red-500;
}

.tile__error:hover .tile__header {
  border-color: $red-500;
}

.tile__error:hover .tile__iconbox {
  border-color: $red-500;
}

.tile__error:hover .tile__content {
  border-color: $red-500;
}

//gray
.tile__gray:hover {
  border-color: $gray-700;
}

.tile__gray:hover .tile__header {
  border-color: $gray-700;
}

.tile__gray:hover .tile__iconbox {
  border-color: $gray-700;
}

.tile__gray:hover .tile__content {
  border-color: $gray-700;
}

.tile:focus {
  outline: 0;
  border-color: $focuscolor;
  box-shadow: 0 0 0 1px $focuscolor;
}


/*
* disabled styles
*/

.tile[disabled] {
  pointer-events: none;
  border-color: $disabledcolor;
  cursor: default;
  box-shadow: none;
}

.tile[disabled] * {
  color: $gray-300;
}

.tile[disabled] .tile__header {
  border-color: $gray-300;
}

.tile[disabled] .tile__iconbox {
  background-color: $gray-300;
  border-color: $gray-300;
}

.tile[disabled] .tile__content {
  border-color: $gray-300;
}
