@import "../common/variables";

.definition-list {
  background-color: #fff;
  font-family: $mainfont;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 22px;
  line-height: -moz-block-height;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.definition-list dt {
  font-size: 12px;
  color: $gray-500;
  display: block;
  position: relative;
  background-color: inherit;
}

.definition-list dd:before {
  content: " ";
  position: absolute;
  background-image: url(/assets/images/icons/dot.svg);
  background-size: 4px;
  right: 0%;
  height: 24px;
  width: 100vw;
  background-repeat: repeat-x;
  display: inline-block;
}

.definition-list dd + dd {
  margin-top: 8px;
}

.definition-list dd {
  padding-left: 8px;
  max-width: 50%;
  position: relative;
  display: block;
  text-align: right;
  margin-top: -22px;
  padding-bottom: 20px;
  right: 0;
}
