@import "../common/variables";

.switch {
  clip: rect(0 0 0 0);
  position: absolute;
}

.switch__caption {
  font-family: $mainfont;
  font-size: 14px;
}

.switch__label {
  position: relative;
  padding-left: 44px;
  cursor: pointer;
  user-select: none;
}

.switch__label:before {
  content: " ";
  display: inline-block;
  width: 36px;
  height: 20px;
  border: solid 1px $gray-500;
  border-radius: 10px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  background-color: transparent;
  //background-image: radial-gradient(circle 5px, transparent 0, transparent 2px, $gray-700 3px, transparent 4px);
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" width="10" height="10" xmlns="http://www.w3.org/2000/svg"><ellipse fill="transparent" cx="5" cy="5" rx="2.5" ry="4" stroke="#{$gray-700}" stroke-width="1" /></svg>');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 20px 4px;
  transition: background-color 100ms ease-in;
  top: -1px;
}

.switch__label:after {
  content: " ";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: $gray-700;
  transition: left 100ms ease-out, right 100ms ease-out;
  margin-top: 3px;
  margin-left: 4px;
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.switch__label:hover:before {
  border: solid 1px $turquoise-700;
  box-shadow: 0 0 0 1px $turquoise-700;
}

.switch:checked:hover + .switch__label:hover:before {
  background-color: $turquoise-700;
  border-color: $turquoise-600;
  box-shadow: none;
}

.switch__label:focus {
  outline: none;
}

.to-right + .switch__label {
  padding-left: 0;
  padding-right: 44px;
}

.to-right + .switch__label:before {
  left: auto;
  right: 0;
}

.to-right + .switch__label:after {
  left: auto;
  right: 20px;
}

.switch:checked + .switch__label:before {
  background-color: $turquoise-600;
  border-color: $turquoise-600;
  background-image: linear-gradient(to right, #fff 1px, transparent 0);
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: 9px 5px;
}

.switch:checked + .switch__label:after {
  left: 16px;
}

.switch.to-right:checked + .switch__label:after {
  left: auto;
  right: 2px;
}

.switch[disabled] + .switch__label:before {
  border-color: $gray-300;
  background-image: radial-gradient(circle 5px, transparent 0, transparent 2px, $gray-300 3px, transparent 4px);
}

.switch[disabled]:checked + .switch__label:before {
  border-color: $gray-300;
  background-image: linear-gradient(to right, $gray-300 1px, transparent 0);
}

.switch[disabled] + .switch__label:after {
  background-color: transparent;
  border: 1px solid $gray-300;
}

.switch[disabled]:checked + .switch__label:before {
  background-color: transparent;
}

.switch[disabled] + .switch__label {
  color: $gray-300;
  cursor: default;
}

.switch:focus:not(:active) + .switch__label:before {
  box-shadow: 0 0 0 2px $focuscolor;
}
