@import "../common/variables";

.sidebar {
  display: block;
  width: 284px;
  flex: 0 0 284px;
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 8px;
  width: 100%;
  text-decoration: none;
  background-color: $gray-130;
}

.sidebar__item--expandable {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: $turquoise-600;
  overflow: hidden;
  background-color: $gray-160;
}

.sidebar__info {
  display: block;
  font-size: 13px;
  color: $gray-500;
}

.sidebar__headline {
  color: $gray-700;
  display: block;
  font-size: 15px;
  line-height: 2em;
}

.sidebar__headline:hover {
  color: $turquoise-600;
}

.sidebar__item:hover {
  text-decoration: none;
}

.sidebar__item.is-active {
  background-color: $gray-160;
}

.sidebar__item + .sidebar__item {
  border-top: 1px solid $gray-200;
}

.sidebar__item.is-active .sidebar__headline {
  color: $turquoise-600;
  font-weight: 600;
}

/* Expandable addons */

.sidebar .expandable__content {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: $gray-130;
}

.sidebar .expandable__trigger {
  background-color: $gray-160;
}

.expandable__content .sidebar__item {
  padding-left: 40px;
  height: 34px;
  border-top: none;
}

.expandable__content .sidebar__item.is-active {
  background-color: $gray-130;
}
