@import "../common/variables";

.checkbox {
  clip: rect(0 0 0 0);
  position: absolute;
}

.checkbox__label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
}

.checkbox__label:before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 2px $turquoise-600;
  position: absolute;
  left: 0;
  box-sizing: border-box;
}

.checkbox__label:after {
  content: " ";
  position: absolute;
  background-image: url(/assets/icons/Icons_file_003_Checkmark_turquoise.svg);
  background-size: 16px;
  top: 0;
  height: 16px;
  width: 16px;
  margin-left: 2px;
  display: none;
}

.checkbox__label:hover:before {
  border-color: $turquoise-700;
}

.checkbox:checked + .checkbox__label:after {
  display: block;
}

.checkbox[disabled] + .checkbox__label:before {
  border-color: $disabledcolor;
}

.checkbox[disabled] + .checkbox__label:after {
  display: none;
}

.checkbox[disabled]:checked + .checkbox__label:before {
  border-color: $disabledcolor;
}

.checkbox[disabled]:checked + .checkbox__label:after {
  display: block;
  background-image: url(/assets/icons/Icons_file_003_Checkmark_disabled.svg);
}

.checkbox[disabled] + .checkbox__label {
  color: $disabledcolor;
  cursor: default;
}

.checkbox:focus + .checkbox__label:before {
  box-shadow: 0 0 0 2px $focuscolor;
}

.checkbox__label:focus {
  box-shadow: 0 0 0 2px $focuscolor;
  outline: none;
}

.checkbox__caption {
  font-family: $mainfont;
  font-size: 14px;
}

.checkbox__label > icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-top: 6px;
  vertical-align: top;
}
