@import "../common/variables";


//max width?
.tag {
  font-family: $mainfont;
  color: $gray-700;
  font-weight: 400;
  appearance: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  height: 24px;
  border-radius: 12px;
  border: 1px solid $gray-130;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  font-size: 12px;
  line-height: 23px;
  line-height: -moz-block-height;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  background-color: $gray-130;
  display: inline-block;
}

.tag__delete {
  content: " ";
  background-image: url(/assets/icons/Icons_file_001_Abort_turquoise.svg);
  background-size: 16px;
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
  margin-left: 4px;
  right: 8px;
  display: inline-block;
  background-repeat: no-repeat;
}

.tag__key {
  color: $gray-500;
}

.tag:hover {
  text-decoration: none;
  color: $gray-700;
  background-color: $gray-160;
}

.tag:focus {
  outline: none;
  border-color: $focuscolor;
  box-shadow: 0 0 0 1px $focuscolor;
}
