<div class="sidebar hide-sm">
  {{# each nav.componentsNav}}
    <a class="sidebar__item {{isactive ../this file.path 'sidebar__item' }}" href="{{../sitedata.site.baseurl}}/{{file.path}}">
      <span class="sidebar__headline">{{file.title}}</span>
    </a>
  {{/each}}
</div>
