<div class="nav has-no-secondary">
  <a class="nav__brand" href="/">
    <img class="nav__logo" src="/doc/images/brand/dynatrace-logo.svg" alt="dynatrace logo" />
  </a>
  <div class="nav__buttongroup">
    <a class="btn btn--navigation nav__cta" href="https://www.dynatrace.com/trial/">Free trial</a>
    <button data-target="#nav-bar" id="menu-toggle" class="nav__menutoggle">Menu</button>
  </div>
  <nav id="nav-bar" class="nav__bar js-nav-toggle">
    <ul class="nav__list nav__list--primary">
      {{#each sitedata.nav.entries}}
      <li class="nav__item">
        <a class="nav__link" href="{{url}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>
</div>
