<div class="nav has-no-secondary">
  <a class="nav__brand" href="{{../sitedata.site.baseurl}}/">
    <img class="nav__logo" src="http://assets.dynatrace.com/global/logos/dynatrace-logo.svg" alt="dynatrace logo" />
  </a>
  <div class="nav__buttongroup">
    <a class="nav__btn nav__btn--cta" href="https://github.com/Dynatrace/css-groundhog">Find me on GitHub</a>
    <button data-target="#nav-bar" id="menu-toggle" class="nav__btn--menutoggle nav__btn">Menu</button>
  </div>
  <nav id="nav-bar" class="nav__bar js-nav-toggle">
    <ul class="nav__list nav__list--primary">
      {{#each sitedata.nav.entries}}
      <li class="nav__item">
        <a class="nav__link" href="{{../sitedata.site.baseurl}}{{url}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>
</div>
