{{#extend 'default'}}
  {{#content 'breadcrumbs'}}
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{sitedata.site.baseurl}}/">Main</a>
    </li>
    {{#unless hideComponentBreadcrumb}}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{sitedata.site.baseurl}}/doc/components/">Components</a>
    </li>
    {{/unless}}
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__last">{{title}}</span>
    </li>
  </ul>
  {{/content}}

  {{#content 'sidebar'}}
    {{> component_nav}}
  {{/content}}

  {{#content 'main'}}
    <main class="island {{#if hasSidebar}} island--connected{{/if}}">
      {{> component_content}}
    </main>
  {{/content}}
{{/extend}}
