{{#extend 'default'}}
  {{#content 'breadcrumbs'}}
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/">Main</a>
    </li>
    {{#unless hideComponentBreadcrumb}}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="/doc/components/">Components</a>
    </li>
    {{/unless}}
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__last">{{title}}</span>
    </li>
  </ul>
  {{/content}}

  {{#content 'sidebar'}}
    {{> component_nav}}
  {{/content}}

  {{#content 'main'}}
    {{> component_content}}
  {{/content}}
{{/extend}}
