@import "../common/variables";

$includedTable: false !default;

@if ($includedTable == false) {

  // REVIEW: Rethink specificity

  .table {
    border-spacing: 0;
    font-size: 14px;
    line-height: 1.4em;
    font-family: $mainfont;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  .table th,
  .table td {
    padding-left: 12px;
    padding-right: 12px;
  }

  .table td {
    height: 40px;
  }

  @media (max-width: 920px) {

    .table td {
      display: block;
      border-top: 1px solid $gray-200;
      position: relative;
      padding-left: 50%;
      width: auto;
      padding-top: 11px;
      white-space: normal;
    }

    .table td:before {
      content: attr(data-th) " ";
      text-align: left;
      font-weight: normal;
      font-size: 12px;
      position: absolute;
      border-right: 1px solid $gray-200;
      height: 100%;
      top: inherit;
      left: 12px;
      width: 46%;
      white-space: inherit;
    }

    .table thead {
      display: none;
    }
  }

  .table thead th {
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    position: relative;
    overflow: hidden;
  }

  .table thead th:after {
    content: " ";
    height: 1px;
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
    width: 100%;
    background-color: $gray-200;
  }

  .table thead th:before {
    content: " ";
    height: 1px;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 10px;
    background-color: #fff;
    z-index: 2;
  }

  .table thead th:last-child:before {
    display: none;
  }

  .table tr:nth-child(2n) {
    background-color: $gray-100;
  }

  $includedTable: true;

}
