body {
  background-color: #f8f8f8;
}

.demo__code {
  overflow: auto;
  max-width: 100%;
}

.area {
  display: flex;
}

.presentation-tile {
  flex-grow: 0;
}

.demo[id*=sample][id*=theme-dark] {
  background-color: #454545;
  padding: 1rem;
}

[href*='assets.ruxitlabs.com']:before,
[href*='lab.dynatrace']:before {
  background-image: url(/assets/icons/Icons_file_003_Dont_Watch_eye.svg);
  content: '';
  width: 16px;
  height: 13px;
  display: inline-block;
  background-size: 100%;
}

.component {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #00a1b2;
  color: white;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.component__image {
  max-width: 110px;
  margin: 0 auto;
  padding: 10px;
  display: block;
}

.component__headline {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
}

.component:hover .component__headline,
.component__headline:hover {
  color: #fafafa;
}
