@import "../common/variables";
@import "../common/hint";
@import "../common/label";

.textarea {
  font-family: $mainfont;
  appearance: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid $disabledcolor;
  border-radius: 3px;
  padding-top: 0;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 14px;
  line-height: 32px;
  line-height: -moz-block-height;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  color: $gray-700;
  resize: none;
  width: 100%;
  max-width: 600px;
}

.textarea::placeholder {
  color: $gray-500;
}

.textarea:hover {
  border-color: $gray-460;
  cursor: text;
}

.textarea[disabled]:hover {
  border-color: $gray-300;
  cursor: default;
}

.textarea[disabled] {
  background-color: $gray-130;
  color: $disabledcolor;
}

.textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px $focuscolor;
  border-color: $focuscolor;
}
