@import "../common/variables";

.inputfield {
  font-family: $mainfont;
  appearance: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  height: 32px;
  border: 1px solid $disabledcolor;
  border-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 11px;
  cursor: pointer;
  font-size: 14px;
  line-height: 32px;
  line-height: -moz-block-height;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  width: 300px;
  padding-top: 1px;
  color: $gray-700;
}

.inputfield__label {
  font-size: 12px;
  font-weight: normal;
  display: block;
  padding-bottom: 6px;
}


.inputfield:hover {
}

.inputfield[disabled] {
  background-color: $gray-130;
  color: $disabledcolor;
}


.inputfield:focus {
  outline: none;
  box-shadow: 0 0 0 1px $focuscolor;
  border-color: $focuscolor;
}
