@import "../common/variables";
$breadcrumb-border-color: $turquoise-500;
$breadcrumb-link-color: $turquoise-600;
$breadcrumb-active-color: $turquoise-700;

.breadcrumbs {
  list-style-type: none;
  display: flex;
  color: #fff;
  background-color: $breadcrumb-active-color;
  line-height: 1em;
  overflow: hidden;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  z-index: 4;
}

.breadcrumbs__item {
  display: inline-block;
  margin-top: 0;
  font-size: 16px;
  max-height: 30px;
  line-height: 30px;
  position: relative;
}

.breadcrumbs__link,
.breadcrumbs__link:visited, {
  color: #fff;
  display: block;
  background-color: $breadcrumb-link-color;
  padding: 0 16px;
  margin-right: 4px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  margin-left: -4px;
}

.breadcrumbs__last {
  padding: 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  margin-left: -4px;
}

.breadcrumbs__link:before,
.breadcrumbs__link:after {
  content: " ";
  width: 0;
  height: 0;
  border: 18px solid transparent;
  position: absolute;
  right: -19px;
  margin-top: -3px;
  border-left-color: $breadcrumb-link-color;
  border-left-width: 8px;
  z-index: 3;
}

.breadcrumbs__link:before {
  right: -21px;
  border-left-color: $breadcrumb-border-color;
  z-index: 2;
}

.breadcrumbs__link:focus,
.breadcrumbs__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: $breadcrumb-active-color;
}

.breadcrumbs__link:focus:after,
.breadcrumbs__link:hover:after {
  border-left-color: $breadcrumb-active-color;
}

@mixin breadcrumb-theme($link-color, $border-color, $active-color) {

  .breadcrumbs {
    background-color: $active-color;
  }

  .breadcrumbs__link,
  .breadcrumbs__link:visited {
    background-color: $link-color;
  }

  .breadcrumbs__link:before,
  .breadcrumbs__link:after {
    border-left-color: $link-color;
  }

  .breadcrumbs__link:before {
    border-left-color: $border-color;
  }

  .breadcrumbs__link:focus,
  .breadcrumbs__link:hover {
    background-color: $active-color;
  }

  .breadcrumbs__link:focus:after,
  .breadcrumbs__link:hover:after {
    border-left-color: $active-color;
  }
}

.theme--blue {

  @include breadcrumb-theme($blue-700, $blue-600, $blue-800);
}

.theme--purple {

  @include breadcrumb-theme($purple-700, $purple-600, $purple-800);
}

.theme--royalblue {

  @include breadcrumb-theme($royalblue-600, $royalblue-500, $royalblue-700);
}

.theme--green {

  @include breadcrumb-theme($green-600, $green-500, $green-700);
}
