@import "../common/variables";

.radio {
  clip: rect(0 0 0 0);
  position: absolute;
}

.radio__label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
}

.radio__caption {
  font-family: $mainfont;
  font-size: 14px;
}

.radio__label:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: solid 2px $turquoise-600;
}

.radio__label:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: tranparent;
  margin-left: 5px;
  margin-top: 5px;
}

.radio__label > icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-top: 6px;
  vertical-align: top;
}

.radio__label:focus {
  box-shadow: 0 0 0 2px $focuscolor;
  outline: none;
}

.radio__label:hover:before {
  border-color: $turquoise-700;
}

.radio:checked + .radio__label:after {
  background-color: $turquoise-600;
}

.radio:focus + .radio__label:before {
  box-shadow: 0 0 0 2px $focuscolor;
}

.radio[disabled] + .radio__label {
  color: $disabledcolor;
  cursor: default;
}

.radio[disabled] + .radio__label:before {
  border-color: $disabledcolor;
}

.radio[disabled] + .radio__label:after {
  display: none;
}

.radio[disabled]:checked + .radio__label:before {
  border-color: $disabledcolor;
}

.radio[disabled]:checked + .radio__label:after {
  display: block;
  background-color: $disabledcolor;
}
