$white: #fff;
$black: #000;
$green100: #e8f9dc;
$green200: #d2efbe;
$green300: #bee5a3;
$green400: #9cd575;
$green500: #7dc540;
$green600: #5ead35;
$green700: #3f962a;
$green800: #1f7e1e;
$green900: #006613;
$turquoise100: #e1f7f9;
$turquoise200: #b1eaef;
$turquoise300: #80e1e8;
$turquoise400: #4fd5e0;
$turquoise500: #00b9cc;
$turquoise600: #00a1b2;
$turquoise700: #00848e;
$turquoise800: #006f77;
$turquoise900: #005559;
$blue100: #e0f4fc;
$blue200: #b4e5f9;
$blue300: #82d8f9;
$blue400: #2ab6f4;
$blue500: #00a6fb;
$blue600: #008cdb;
$blue700: #006bba;
$blue800: #004999;
$blue900: #003a8a;
$royalblue100: #e6e8ff;
$royalblue200: #bdc9ff;
$royalblue300: #95abff;
$royalblue400: #6c8cff;
$royalblue500: #466eff;
$royalblue600: #4756dd;
$royalblue700: #3d40b8;
$royalblue800: #322a93;
$royalblue900: #23146e;
$purple100: #efdeff;
$purple200: #e2c0f7;
$purple300: #c396e0;
$purple400: #a972cc;
$purple500: #9355b7;
$purple600: #7b38a1;
$purple700: #612c85;
$purple800: #522273;
$purple900: #481f61;
$red100: #ffeae8;
$red200: #fdb8b8;
$red300: #f28289;
$red400: #e74d59;
$red500: #dc172a;
$red600: #c41121;
$red700: #ab0c17;
$red800: #93060e;
$red900: #7a0004;
$orange100: #fff5e4;
$orange200: #ffd0ab;
$orange300: #ffa86c;
$orange400: #ff802d;
$orange500: #ef651f;
$orange600: #d3571a;
$orange700: #b64915;
$orange800: #92380e;
$orange900: #702e0a;
$yellow100: #fff9d5;
$yellow200: #fff197;
$yellow300: #ffeb6a;
$yellow400: #ffe11c;
$yellow500: #f3d00e;
$yellow600: #e6be00;
$yellow700: #c9a000;
$yellow800: #ab8300;
$yellow900: #8e6500;
$shamrock100: #e1f7dc;
$shamrock200: #beebc3;
$shamrock300: #99dea8;
$shamrock400: #73d091;
$shamrock500: #54c27d;
$shamrock600: #2ab06f;
$shamrock700: #009e60;
$shamrock800: #048855;
$shamrock900: #087249;
$gray50: #fafafa;
$gray100: #f8f8f8;
$gray130: #f2f2f2;
$gray160: #ececec;
$gray200: #e6e6e6;
$gray300: #ccc;
$gray400: #b7b7b7;
$gray460: #a0a0a0;
$gray500: #898989;
$gray600: #6d6d6d;
$gray620: #606060;
$gray640: #525252;
$gray700: #454646;
$gray800: #353535;
$gray860: #242424;
$gray900: #191919;
$steelgray50: #fafcfd;
$steelgray100: #f6f8f9;
$steelgray130: #f1f4f5;
$steelgray160: #e8eded;
$steelgray200: #dfe5e5;
$steelgray300: #bec4c5;
$steelgray400: #9da3a6;
$steelgray500: #7c8286;
$steelgray600: #687074;
$steelgray700: #51585b;
$steelgray800: #3d4347;
$steelgray900: #282e32;

$yellowicon: #fd0;
$blueicon: #1496ff;
$greenicon: #7dc540;
$redicon: #dc172a;

$textcolor: $gray700;
$focuscolor: $turquoise400;
$linkcolor: $turquoise500;
$buttoncolor: $turquoise600;
$buttonhovercolor: $turquoise700;
$buttonactivecolor: $turquoise800;
$disabledcolor: $gray300;
