@import "../common/variables";

$includeHint: false !default;

@if ($includeHint == false) {

  .hint {
    font-family: $mainfont;
    text-decoration: none;
    appearance: none;
    display: inline-block;
    box-sizing: border-box;
    white-space: normal;
    padding-top: 6px;
    padding-left: 12px;
    font-size: 12px;
    color: $gray-500;
    font-weight: normal;
    max-width: 600px;
  }

  $includeHint: true;

}
