@import "../common/variables";

* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainfont;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $blue-500;
  transition: color 100ms ease-out;
}

a:hover {
  color: $blue-600;
  text-decoration: underline;
}

img {
  max-width: 100%;
}
