@font-face {
  font-family: BerninaSans;
  src:
    url(/assets/fonts/BerninaSans-Web-Regular.woff) format("woff"),
    url(/assets/fonts/BerninaSans-Web-Regular.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: BerninaSans;
  src:
    url(/assets/fonts/BerninaSans-Web-Light.woff) format("woff"),
    url(/assets/fonts/BerninaSans-Web-Light.woff2) format("woff2");
  font-weight: 300;
}
