@import "../common/variables";

.fieldset {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.fieldset legend {
  padding: 0;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 16px;
}

.fieldset .btn {
  margin-right: 4px;
  margin-bottom: 8px;
}
