@import "../common/variables";

.media {
  background-color: $gray-100;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.media__item {
  margin: 0 0 1.5rem;
}

.media__item > * {
  max-width: 100%;
}

.media--horizontal .media__content {
  flex-grow: 2;
}

@media (min-width: $screen-sm) {

  .media--horizontal {
    flex-direction: row;
  }

  .media--horizontal .media__item {
    margin: 0 1.5rem 0 0;
  }

  .media__item--right {
    flex-direction: row-reverse;
  }

  .media__item--right .media__item {
    margin: 0 0 0 1.5rem;
  }
}
